<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.10.2/Sortable.min.js"></script>
        <title>Index</title>
    </head>
    <body>
        <%- include('./includes/header.ejs') %>

        <main id="sortableList" class="flex flex-col items-center">
            <article
                id="ver"
                class="w-1/2 mt-8 flex items-center gap-4 rounded-lg border border-gray-100 bg-white p-6 sm:justify-between"
            >
                <div>
                    <p class="text-2xl font-medium text-gray-900">
                        Max Verstappen - 1
                    </p>
                </div>
                <span class="text-2xl standing-number"> 1 </span>
            </article>

            <article
                id="per"
                class="w-1/2 mt-8 flex items-center gap-4 rounded-lg border border-gray-100 bg-white p-6 sm:justify-between"
            >
                <div>
                    <p class="text-2xl font-medium text-gray-900">
                        Sergio Pérez - 11
                    </p>
                </div>
                <span class="text-2xl standing-number"> 2 </span>
            </article>

            <article
                id="alo"
                class="w-1/2 mt-8 flex items-center gap-4 rounded-lg border border-gray-100 bg-white p-6 sm:justify-between"
            >
                <div>
                    <p class="text-2xl font-medium text-gray-900">
                        Fernando Alonso - 14
                    </p>
                </div>
                <span class="text-2xl standing-number"> 3 </span>
            </article>

            <article
                id="str"
                class="w-1/2 mt-8 flex items-center gap-4 rounded-lg border border-gray-100 bg-white p-6 sm:justify-between"
            >
                <div>
                    <p class="text-2xl font-medium text-gray-900">
                        Lance Stroll - 18
                    </p>
                </div>
                <span class="text-2xl standing-number"> 4 </span>
            </article>

            <article
                id="sai"
                class="w-1/2 mt-8 flex items-center gap-4 rounded-lg border border-gray-100 bg-white p-6 sm:justify-between"
            >
                <div>
                    <p class="text-2xl font-medium text-gray-900">
                        Carlos Sainz - 55
                    </p>
                </div>
                <span class="text-2xl standing-number"> 5 </span>
            </article>

            <article
                id="lec"
                class="w-1/2 mt-8 flex items-center gap-4 rounded-lg border border-gray-100 bg-white p-6 sm:justify-between"
            >
                <div>
                    <p class="text-2xl font-medium text-gray-900">
                        Charles Leclerc - 16
                    </p>
                </div>
                <span class="text-2xl standing-number"> 6 </span>
            </article>

            <article
                id="pia"
                class="w-1/2 mt-8 flex items-center gap-4 rounded-lg border border-gray-100 bg-white p-6 sm:justify-between"
            >
                <div>
                    <p class="text-2xl font-medium text-gray-900">
                        Oscar Piastri - 81
                    </p>
                </div>
                <span class="text-2xl standing-number"> 7 </span>
            </article>

            <article
                id="nor"
                class="w-1/2 mt-8 flex items-center gap-4 rounded-lg border border-gray-100 bg-white p-6 sm:justify-between"
            >
                <div>
                    <p class="text-2xl font-medium text-gray-900">
                        Lando Norris - 4
                    </p>
                </div>
                <span class="text-2xl standing-number"> 8 </span>
            </article>

            <article
                id="rus"
                class="w-1/2 mt-8 flex items-center gap-4 rounded-lg border border-gray-100 bg-white p-6 sm:justify-between"
            >
                <div>
                    <p class="text-2xl font-medium text-gray-900">
                        George Russell - 63
                    </p>
                </div>
                <span class="text-2xl standing-number"> 9 </span>
            </article>

            <article
                id="ham"
                class="w-1/2 mt-8 flex items-center gap-4 rounded-lg border border-gray-100 bg-white p-6 sm:justify-between"
            >
                <div>
                    <p class="text-2xl font-medium text-gray-900">
                        Lewis Hamilton - 44
                    </p>
                </div>
                <span class="text-2xl standing-number"> 10 </span>
            </article>

            <article
                id="hul"
                class="w-1/2 mt-8 flex items-center gap-4 rounded-lg border border-gray-100 bg-white p-6 sm:justify-between"
            >
                <div>
                    <p class="text-2xl font-medium text-gray-900">
                        Nico Hulkenberg - 27
                    </p>
                </div>
                <span class="text-2xl standing-number"> 11 </span>
            </article>

            <article
                id="mag"
                class="w-1/2 mt-8 flex items-center gap-4 rounded-lg border border-gray-100 bg-white p-6 sm:justify-between"
            >
                <div>
                    <p class="text-2xl font-medium text-gray-900">
                        Kevin Magnussen - 20
                    </p>
                </div>
                <span class="text-2xl standing-number"> 12 </span>
            </article>

            <article
                id="alb"
                class="w-1/2 mt-8 flex items-center gap-4 rounded-lg border border-gray-100 bg-white p-6 sm:justify-between"
            >
                <div>
                    <p class="text-2xl font-medium text-gray-900">
                        Alexander Albon - 23
                    </p>
                </div>
                <span class="text-2xl standing-number"> 13 </span>
            </article>

            <article
                id="sar"
                class="w-1/2 mt-8 flex items-center gap-4 rounded-lg border border-gray-100 bg-white p-6 sm:justify-between"
            >
                <div>
                    <p class="text-2xl font-medium text-gray-900">
                        Logan Sargeant - 2
                    </p>
                </div>
                <span class="text-2xl standing-number"> 14 </span>
            </article>

            <article
                id="ric"
                class="w-1/2 mt-8 flex items-center gap-4 rounded-lg border border-gray-100 bg-white p-6 sm:justify-between"
            >
                <div>
                    <p class="text-2xl font-medium text-gray-900">
                        Daniel Ricciardo - 3
                    </p>
                </div>
                <span class="text-2xl standing-number"> 15 </span>
            </article>

            <article
                id="tsu"
                class="w-1/2 mt-8 flex items-center gap-4 rounded-lg border border-gray-100 bg-white p-6 sm:justify-between"
            >
                <div>
                    <p class="text-2xl font-medium text-gray-900">
                        Yuki Tsunoda - 22
                    </p>
                </div>
                <span class="text-2xl standing-number"> 16 </span>
            </article>

            <article
                id="bot"
                class="w-1/2 mt-8 flex items-center gap-4 rounded-lg border border-gray-100 bg-white p-6 sm:justify-between"
            >
                <div>
                    <p class="text-2xl font-medium text-gray-900">
                        Valtteri Bottas - 77
                    </p>
                </div>
                <span class="text-2xl standing-number"> 17 </span>
            </article>

            <article
                id="zho"
                class="w-1/2 mt-8 flex items-center gap-4 rounded-lg border border-gray-100 bg-white p-6 sm:justify-between"
            >
                <div>
                    <p class="text-2xl font-medium text-gray-900">
                        Guanyu Zhou - 24
                    </p>
                </div>
                <span class="text-2xl standing-number"> 18 </span>
            </article>

            <article
                id="gas"
                class="w-1/2 mt-8 flex items-center gap-4 rounded-lg border border-gray-100 bg-white p-6 sm:justify-between"
            >
                <div>
                    <p class="text-2xl font-medium text-gray-900">
                        Pierre Gasly - 10
                    </p>
                </div>
                <span class="text-2xl standing-number"> 19 </span>
            </article>

            <article
                id="oco"
                class="w-1/2 mt-8 flex items-center gap-4 rounded-lg border border-gray-100 bg-white p-6 sm:justify-between"
            >
                <div>
                    <p class="text-2xl font-medium text-gray-900">
                        Esteban Ocon - 31
                    </p>
                </div>
                <span class="text-2xl standing-number"> 20 </span>
            </article>
        </main>

        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script>
            var sortableList = document.getElementById("sortableList");

            new Sortable(sortableList, {
                animation: 150,
                ghostClass: "sortable-ghost",
                dataIdAttr: "id",
                onEnd: function (/**Event*/ evt) {
                    var items = sortableList.children;
                    for (var i = 0; i < items.length; i++) {
                        var item = items[i];
                        var numberSpan = item.querySelector(".standing-number");
                        numberSpan.textContent = i + 1;
                    }
                    var itemIds = this.toArray();
                    $.post("/update-order", { order: itemIds });
                },
            });

            $.get("/get-order", function (data) {
                var order = data.order;
                Sortable.get(sortableList).sort(order);
                var items = sortableList.children;
                for (var i = 0; i < items.length; i++) {
                    var item = items[i];
                    var numberSpan = item.querySelector(".standing-number");
                    numberSpan.textContent = i + 1;
                }
            });
        </script>
    </body>
</html>
